*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: #252934;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: transparent;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
}

.box__text--color {
  color: #cf1c66;
}

.box__info {
  margin-top: 1em;
}

.box__button {
  padding: 1em 3em;
  margin-top: 2em;
  color: #ffffff;
  background-color: transparent;
  position: relative;
  border: none;
  cursor: pointer;
  z-index: -1;
}

.box__button::before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #cf1c66 -webkit-gradient(linear, left top, right top, color-stop(35%, #cf1c66), to(#04c2c9));
  background: #cf1c66 linear-gradient(90deg, #cf1c66 35%, #04c2c9 100%);
  z-index: -1;
  background-size: 300% 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box__button:hover::before {
  background-position: 100% 0;
}

.hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.desktop {
  display: none;
}

.hamburger-rainbow,
.hamburger-rainbow::after,
.hamburger-rainbow::before {
  background-color: #04c2c9;
}

.mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #1b242f;
  width: 100vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.mobile__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.mobile__item {
  display: block;
  position: relative;
  padding: 1em;
  margin: 1em;
  text-decoration: none;
  color: #ffffff;
}

.mobile__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-color: #cf1c66;
  content: '';
}

.mobile__item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.mobile__show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.section-style {
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #1b242f;
  text-align: center;
  margin: 2em auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: -50%;
  letter-spacing: 1px;
}

.section-style::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  margin: -0.2em auto;
  height: 2px;
  width: 75%;
  background: #cf1c66 -webkit-gradient(linear, left top, right top, color-stop(35%, #cf1c66), to(#04c2c9));
  background: #cf1c66 linear-gradient(90deg, #cf1c66 35%, #04c2c9 100%);
}

.section-aboutme {
  background-color: #f5f5f5;
}

.aboutmebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

.aboutmebox__img {
  width: 50%;
  max-width: 400px;
  border: 2px solid;
  -o-border-image: linear-gradient(90deg, #cf1c66 35%, #04c2c9 100%) 1;
     border-image: -webkit-gradient(linear, left top, right top, color-stop(35%, #cf1c66), to(#04c2c9)) 1;
     border-image: linear-gradient(90deg, #cf1c66 35%, #04c2c9 100%) 1;
}

.aboutmebox__text {
  text-align: center;
  margin: 1em auto;
  padding: 0 1em;
}

.stack {
  margin: 1em auto;
  padding: 1em;
}

.stack__text {
  color: #252934;
  text-align: center;
  margin: 1em 0;
  font-size: 2rem;
}

.stack__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  max-width: 250px;
  margin: 1em 0;
  padding: 1em;
}

.card__icon {
  background: #cf1c66 -webkit-gradient(linear, left top, right top, color-stop(35%, #cf1c66), to(#04c2c9));
  background: #cf1c66 linear-gradient(90deg, #cf1c66 35%, #04c2c9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  font-size: 100px;
}

.card__name {
  margin-top: 1em;
  font-weight: bold;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.workscard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  margin: 0 1em;
  cursor: pointer;
}

.workscard__img {
  width: 100%;
  max-width: 400px;
}

.workscard__text {
  position: absolute;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.workscard:hover .workscard__text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.test {
  height: 200vh;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #252934;
  width: 100vw;
  height: 10vh;
}

.footer-text {
  color: #ffffff;
}

@media (min-width: 576px) {
  .box__text {
    font-size: 3rem;
  }
  .box__info {
    font-size: 2.5rem;
  }
  .box__button {
    font-size: 2rem;
  }
  .section-style {
    font-size: 3rem;
  }
  .stack__text {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .box__text {
    font-size: 4rem;
  }
  .box__info {
    font-size: 3.5rem;
  }
  .box__button {
    font-size: 2.5rem;
  }
  .section-style {
    font-size: 4rem;
  }
  .stack__text {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .box__text {
    font-size: 5rem;
  }
  .box__info {
    font-size: 4.5rem;
  }
  .box__button {
    font-size: 3rem;
  }
  .hamburger {
    display: none;
  }
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .desktop__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    z-index: 3;
  }
  .desktop__item {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    margin-right: 4em;
    padding: 1em 1.5em;
  }
  .desktop__item::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    background-color: #cf1c66;
    content: '';
  }
  .desktop__item:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .section-style {
    font-size: 5rem;
  }
  .stack__text {
    font-size: 3.5rem;
  }
}
/*# sourceMappingURL=main.css.map */