@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	color: $dark;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
// HEADER
.header {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.box {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: transparent;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: $white;
	font-size: 2rem;

	&__text {
		&--color {
			color: $pink;
		}
	}
	&__info {
		margin-top: 1em;
	}
	&__button {
		padding: 1em;
		margin-top: 2em;
		color: $white;
		text-decoration: none;
		width: 70%;
		max-width: 500px;
		font-size: 1.5rem;
		background-color: transparent;
		position: relative;
		border: none;
		border-radius: 20px;
		cursor: pointer;
		z-index: -1;
		&::before {
			content: '';
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background: $gradient;
			z-index: -1;
			background-size: 300% 100%;
			transition: all 0.5s;
		}
		&:hover::before {
			background-position: 100% 0;
		}
	}
}

.hamburger {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 100;
}

.desktop {
	display: none;
}
.hamburger-rainbow,
.hamburger-rainbow::after,
.hamburger-rainbow::before {
	background-color: $aqua;
}
// NAV MOBILE

.mobile {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	transform: translateX(100%);
	background-color: $sharp-dark;
	width: 100vw;
	height: 100vh;
	transition: transform 0.3s;
	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
	&__item {
		display: block;
		position: relative;
		padding: 1em;
		margin: 1em;
		text-decoration: none;
		color: $white;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 100%;
			transform: scaleY(0);
			transition: transform 0.3s;
			background-color: $pink;
			content: '';
		}
		&:hover::before {
			transform: scaleY(1);
		}
	}
	&__show {
		transform: translateX(0);
	}
}
// SECTION STYLE
.section-style {
	display: inline-block;
	position: relative;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: $sharp-dark;
	text-align: center;
	margin: 2em auto;
	transform: translate(-50%, -50%);
	right: -50%;
	letter-spacing: 1px;

	&::before {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		right: 0;
		margin: -0.2em auto;
		height: 2px;
		width: 75%;
		background: $gradient;
	}
}

// ABOUTME

.section-aboutme {
	background-color: $dark-white;
}
.aboutme-container {
	margin: 0 1em;
}
.aboutmebox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	&__img {
		width: 50%;
		max-width: 400px;
		border: 2px solid;
		border-image: linear-gradient(90deg, rgba(207, 28, 102, 1) 35%, rgba(4, 194, 201, 1) 100%) 1;
	}
	&__text {
		text-align: center;
		margin: 1em auto;
		padding: 0 1em;
	}
}
.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 1em;
	cursor: pointer;
	width: 50%;
	&-square {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		font-size: 2.3rem;
		background-color: $dark;
		border: 1px solid $pink;
		width: 40px;
		margin: 0.5em;
		height: 40px;
		text-align: center;
		text-decoration: none;
		transition: transform 0.3s, background-color 0.3s;
		i {
			font-size: 2.4rem;
			color: $aqua;
		}
		&:hover {
			background-color: $pink;
			transform: scale(0.9);
		}
	}
}

.stack {
	margin: 0 auto;
	padding: 1em;
	&__text {
		color: $dark;
		text-align: center;
		margin: 1em 0;
		font-size: 2rem;
	}
	&__box {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}
.card {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: center;
	flex-direction: column;
	width: 30%;
	max-width: 150px;
	margin: 1em;

	&__icon {
		background: $gradient;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		filter: brightness(0.8);
		font-size: 50px;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}

	&__name {
		margin-top: 1em;
		font-weight: bold;
	}
}
.works {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
}
.workscard {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin: 1em;
	overflow: hidden;

	&__img {
		width: 100%;
		max-width: 400px;
	}
	&__text {
		position: absolute;
		transform: translateX(-200%);
	}
	&:hover .boxcard {
		transform: translate(0);
	}
}
.boxcard {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	color: $dark-white;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: 0.3s;
	background-color: rgba($dark, 0.9);
	transform: translate(100%);
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		font-size: 1.5rem;
		&-text {
			text-align: center;
		}
		&-info {
			text-align: center;
			margin-top: 1em;
		}
	}
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;

		&-info {
			text-decoration: none;
			color: $pink;
			padding: 0.3em 0.7em;
			transition: color 0.3s;
			&:hover {
				color: $aqua;
			}
		}
	}
}
.boxes {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-top: 0.5em;
	width: 100%;
	&__stack {
		display: flex;
		align-items: center;
		align-items: center;
		font-size: 1.6rem;
		color: $aqua;
		margin-top: 0.5em;
		margin-left: 0.5em;
		&-icon {
			margin: 0 0.5em;
			color: white;
		}
	}
}

.send-msg {
	text-align: center;
	color: $pink;
	font-size: 2rem;
	margin: 0.5em 1em;
	visibility: hidden;
}

.formbox-container {
	position: relative;
	width: 100vw;

	background-color: $dark;
	color: $white;
}
.container-text {
	text-align: center;
	margin: 0 1em 1em;
	line-height: 1.6em;
}
.form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 1em;
	margin: 0 auto;

	&-box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 90%;
		max-width: 700px;
	}
	input,
	textarea {
		background-color: $dark;
		color: $dark-white;
		width: 100%;
		border: none;
		border-bottom: 1px solid $aqua;
		margin: 0.5em 0;
		padding: 1em 0;
	}
	textarea {
		max-width: 100%;
		max-height: 200px;
	}
	&-button {
		padding: 0.7em 2em;
		font-size: 1.5rem;
		margin: 1em 2em;
		color: $dark-white;
		background: $pink;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		align-self: flex-end;
		transition: background 0.3s;
		&:hover {
			background: $aqua;
		}
	}
	input,
	textarea:focus {
		outline: none;
	}
}
.error {
	font-size: 1.2rem;
	color: $pink;
	align-self: flex-start;
	visibility: hidden;
}

.form-box.error-show .error {
	visibility: visible;
}
.error-border input,
.error-border #msg {
	border-bottom: 1px solid $pink;
}

// FOOTER
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: $sharp-dark;
	width: 100vw;

	&-text {
		color: $white;
		margin: 1em;
		opacity: 0.5;
		span {
			color: $pink;
		}
	}
}

.square {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&-social {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		font-size: 2.3rem;
		background-color: $dark;
		border: 1px solid rgba($pink, 0.2);
		width: 60px;
		height: 60px;
		text-align: center;
		margin: 1em;
		text-decoration: none;
		transition: transform 0.4s, background-color 0.4s;
		i {
			font-size: 2.4rem;
			color: $aqua;
			filter: brightness(0.7);
		}
		&:hover {
			background-color: $pink;
			transform: scale(0.9);
		}
	}
}
// WAVE - dark
.wave-dark {
	position: relative;
	width: 100%;
	height: 10vh;
}
.custom-shape-divider-bottom-1648654971 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648654971 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 64px;
	transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1648654971 .shape-fill {
	fill: $dark;
}
//WAVE - light
.wave-light {
	position: relative;
	width: 100%;
	height: 10vh;
}
.custom-shape-divider-bottom-1648655404 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648655404 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 64px;
}

.custom-shape-divider-bottom-1648655404 .shape-fill {
	fill: $dark-white;
}
// MEDIA

@media (min-width: 576px) {
	.box__text {
		font-size: 3rem;
	}
	.box__info {
		font-size: 2.5rem;
	}
	.box__button {
		font-size: 2rem;
	}
	.section-style {
		font-size: 3rem;
	}
	.stack__text {
		font-size: 2.5rem;
	}
}
@media (min-width: 768px) {
	.box__text {
		font-size: 4rem;
	}
	.box__info {
		font-size: 3.5rem;
	}
	.box__button {
		font-size: 2.5rem;
	}
	.section-style {
		font-size: 4rem;
	}
	.stack__text {
		font-size: 3rem;
	}
}
@media (min-width: 992px) {
	.box__text {
		font-size: 5rem;
	}
	.box__info {
		font-size: 4.5rem;
	}
	.box__button {
		font-size: 3rem;
	}
	.hamburger {
		display: none;
	}
	.desktop {
		display: flex;
		position: relative;

		&__items {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;

			z-index: 3;
		}
		&__item {
			position: relative;
			text-decoration: none;
			color: $white;
			margin-right: 4em;
			padding: 1em 1.5em;
			&::before {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				transform: scaleX(0);
				transition: transform 0.3s;
				background-color: $pink;
				content: '';
			}
			&:hover::before {
				transform: scaleX(1);
			}
		}
	}
	.section-style {
		font-size: 5rem;
	}
	.stack__text {
		font-size: 3.5rem;
	}
}
