@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	color: $dark;
	overflow-x: hidden;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
// HEADER
.header {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.box {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: transparent;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: $white;
	font-size: 2rem;

	&__text {
		&--color {
			color: $pink;
		}
	}
	&__info {
		margin-top: 1em;
	}
	&__button {
		padding: 1em 3em;
		margin-top: 2em;
		color: $white;
		background-color: transparent;
		position: relative;
		border: none;
		cursor: pointer;
		z-index: -1;
		&::before {
			content: '';
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background: $gradient;
			z-index: -1;
			background-size: 300% 100%;
			transition: all 0.5s;
		}
		&:hover::before {
			background-position: 100% 0;
		}
	}
}

.hamburger {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 100;
}

.desktop {
	display: none;
}
.hamburger-rainbow,
.hamburger-rainbow::after,
.hamburger-rainbow::before {
	background-color: $aqua;
}
// NAV MOBILE

.mobile {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	transform: translateX(100%);
	background-color: $sharp-dark;
	width: 100vw;
	height: 100vh;
	transition: transform 0.3s;
	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
	&__item {
		display: block;
		position: relative;
		padding: 1em;
		margin: 1em;
		text-decoration: none;
		color: $white;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 100%;
			transform: scaleY(0);
			transition: transform 0.3s;
			background-color: $pink;
			content: '';
		}
		&:hover::before {
			transform: scaleY(1);
		}
	}
	&__show {
		transform: translateX(0);
	}
}
// SECTION STYLE
.section-style {
	display: inline-block;
	position: relative;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: $sharp-dark;
	text-align: center;
	margin: 2em auto;
	transform: translate(-50%, -50%);
	right: -50%;
	letter-spacing: 1px;

	&::before {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		right: 0;
		margin: -0.2em auto;
		height: 2px;
		width: 75%;
		background: $gradient;
	}
}

// ABOUTME

.section-aboutme {
	background-color: $dark-white;
}
.aboutmebox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;

	&__img {
		width: 50%;
		max-width: 400px;
		border: 2px solid;
		border-image: linear-gradient(90deg, rgba(207, 28, 102, 1) 35%, rgba(4, 194, 201, 1) 100%) 1;
	}
	&__text {
		text-align: center;
		margin: 1em auto;
		padding: 0 1em;
	}
}

.stack {
	margin: 1em auto;
	padding: 1em;
	&__text {
		color: $dark;
		text-align: center;
		margin: 1em 0;
		font-size: 2rem;
	}
	&__box {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}
.card {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: center;
	flex-direction: column;
	width: 35%;
	max-width: 250px;
	margin: 1em 0;

	padding: 1em;
	// cursor: pointer;

	&__icon {
		background: $gradient;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		filter: brightness(0.8);
		font-size: 100px;
	}
	&__name {
		margin-top: 1em;
		font-weight: bold;
	}
}
.works {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}
.workscard {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	margin: 0 1em;
	cursor: pointer;
	&__img {
		width: 100%;
		max-width: 400px;
	}
	&__text {
		position: absolute;
		transform: translateX(-200%);
	}
	&:hover &__text {
		transform: translateX(0);
	}
}

.test {
	height: 200vh;
}
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $dark;
	width: 100vw;
	height: 10vh;
	&-text {
		color: $white;
	}
}
// MEDIA

@media (min-width: 576px) {
	.box__text {
		font-size: 3rem;
	}
	.box__info {
		font-size: 2.5rem;
	}
	.box__button {
		font-size: 2rem;
	}
	.section-style {
		font-size: 3rem;
	}
	.stack__text {
		font-size: 2.5rem;
	}
}
@media (min-width: 768px) {
	.box__text {
		font-size: 4rem;
	}
	.box__info {
		font-size: 3.5rem;
	}
	.box__button {
		font-size: 2.5rem;
	}
	.section-style {
		font-size: 4rem;
	}
	.stack__text {
		font-size: 3rem;
	}
}
@media (min-width: 992px) {
	.box__text {
		font-size: 5rem;
	}
	.box__info {
		font-size: 4.5rem;
	}
	.box__button {
		font-size: 3rem;
	}
	.hamburger {
		display: none;
	}
	.desktop {
		display: flex;
		position: relative;

		&__items {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;

			z-index: 3;
		}
		&__item {
			position: relative;
			text-decoration: none;
			color: $white;
			margin-right: 4em;
			padding: 1em 1.5em;
			&::before {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				transform: scaleX(0);
				transition: transform 0.3s;
				background-color: $pink;
				content: '';
			}
			&:hover::before {
				transform: scaleX(1);
			}
		}
	}
	.section-style {
		font-size: 5rem;
	}
	.stack__text {
		font-size: 3.5rem;
	}
}
